@model Order

<div class="container">
    <main role="main" class="pb-3">
        <p>Будь ласка, введіть свої дані</p>

        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="Checkout" method="post">
            <h3>Кому відправити?</h3>
            <div class="form-group">
                <label>ПІБ:</label><input asp-for="Name" class="form-control" />
            </div>
            <h3>Адрес</h3>
            <div class="form-group">
                <label>Місто:</label><input asp-for="City" class="form-control" />
            </div>
            <div class="form-group">
                <label>Область:</label><input asp-for="State" class="form-control" />
            </div>
            <div class="form-group">
                <label>Код міста:</label><input asp-for="Zip" class="form-control" />
            </div>
            <div class="form-group">
                <label>Країна:</label><input asp-for="Country" class="form-control" />
            </div>
            <h3>Додатково</h3>
            <div class="checkbox">
                <label>
                    <input asp-for="GiftWrap" /> Запакувати в подарункову коробку
                </label>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Готово" />
            </div>
        </form>
    </main>
</div>