@model Cart

<div class="">
    @if (Model.Lines.Count() > 0)
    {
        <a class="nav-icon position-relative text-decoration-none" asp-controller="Cart" asp-action="Index"
           asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
            <span class="position-absolute top-0 left-100 translate-middle
                  badge rounded-pill bg-light text-dark">@Model.Lines.Sum(x => x.Quantity)</span>
            </a>
        }
        else
        {
            <a class="nav-icon position-relative text-decoration-none" asp-controller="Cart" asp-action="Index"
               asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
                <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                <span class="position-absolute top-0 left-100 translate-middle
                  badge rounded-pill bg-light text-dark">0</span>
            </a>
        }
</div>


