@{
    Layout = "_Layout";
}


    <section style="padding-top: 15px" class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="https://krossobzor.ru/wp-content/uploads/2019/05/new-balance-fresh-foam-1080-v8-testy-najnowszej-edycji-kultowego-modelu-06.jpg">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <h2>The best things are those that combine luxury and practicality.</h2>
                                @*<a asp-controller="Product" asp-action="List" class="primary-btn">Our products</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero__item set-bg" data-setbg="https://cdn.wallpapersafari.com/74/49/2XYnN0.jpg">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <h2>Buy only the best things.</h2>
                                @*<button type="submit" href="/Product/List" class="primary-btn">Our products</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
