@model IEnumerable<string>

@foreach (string category in Model)
{
    <li>
        <a class="text-decoration-none
       @(category == ViewBag.SelectedCategory ? "text-success": "")"
           asp-action="List"
           asp-controller="Product"
           asp-route-category="@category"
           asp-route-productPage="1">
            @category
        </a>
    </li>
}
